
body {
    height: 100vh; margin: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #121212; color: #fff;
    font-family: Arial;
}

div#container {
    width: 10cm; height: 10.6cm;

    padding: 1cm 1cm 1.7cm 1cm;

    display: flex; flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    border: 0.5mm solid #343539; border-radius: 2mm;
}


h2#title { font-size: x-large; font-weight: 520; margin: 4mm 0 0 0; }

h3#subtitle { font-size: medium; font-weight: 500; margin: 2mm 0 8mm 0; }

input#email {
    width: 90%; height: 3mm;

    margin-bottom: 1mm; padding: 6mm;

    font-size: large; font-weight: 500;

    background-color: #0000; color: #fff;
    border: 1px solid #343539; border-radius: 1.5mm;
}

a, input#create-account { color: #3892ff; font-weight: 550; cursor: pointer; }

a#forget-email { align-self: baseline; margin-bottom: 6mm; font-size: medium; }

p#info { margin-bottom: 7mm; color: #a3a5a2; font-size: medium; }

div#buttons { width: 100%; display: flex; justify-content: space-between; }

input#create-account {
    padding: 0;

    font-size: medium; font-weight: 500;

    background-color: #0000;
    border: none;
}

input#next {
    width: 2.5cm; height: 9mm;

    font-size: small; font-weight: 550;

    background-color: #2b6fc4; color: #fff;
    border: none; border-radius: 5px;
}
