
#left-bar-menu
{
    min-width: 192px;
    min-height: calc(100% - 48px);
    padding: 24px;
    background-color: #000;
}

.left-bar-menu-div
{
    width: 100%;
}

#left-bar-menu-div-1
{
    margin-bottom: 24px;
}

/* >==========< Logo settings >==========< */
#logo-a
{
    height: 47px;
    margin-bottom: 18px;
}

#spotify-logo {
    width: 131px;
}

/* >==========< Buttons general settings >==========< */
.left-bar-menu-button
{
    height: 40px;
    gap: 16px;
}

.left-bar-menu-button > span
{
    font-size: 13.125px;
    color: #b3b3b3;
}

.left-bar-menu-button:hover > span {
    color: #fff;
}

/* >==========< Buttons type 1 >==========< */
.type1-icon {
    fill: #b3b3b3;
}

.left-bar-menu-button:hover > .type1-icon {
    fill: #fff;
}

/* >==========< Buttons type 2 >==========< */

.div-type2-button {
    width: 24px;
    height: 24px;
    background-color: #b3b3b3;
}

#div-type2-button-2
{
    background-image: linear-gradient( 135deg, #450af5, #c4efd9);
}

#type2-icon2 {
    fill: #fff;
}

.left-bar-menu-button:hover > #div-type2-button-1
{
    background-color: #fff;
}

.left-bar-menu-button:hover > #div-type2-button-2
{
    background-image: linear-gradient(135deg, #602ff1, #d9e9e1);
}

/* >==========< Control width >==========< */

#control-width
{
    width: 10px;
    height: 100%;
    position: absolute;
    left: 235px;
    cursor: col-resize;
}

#control-width-line
{
    width: 1px;
    height: 100%;
    background-color: rgba(255,255,255,.3);
    opacity: 0;
}

#control-width:hover > #control-width-line {
    opacity: 1;
}
